@model MVC2EFSecured.DATA.EF.Book

@{
    ViewBag.Title = "Add new Book";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="formContainer editCreate p-3 w-75">
        <div>
            @Html.EditorFor(model => model.BookTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Book Title" } })
            @Html.ValidationMessageFor(model => model.BookTitle, "", new { @class = "text-danger" })

        </div>
        <div class="row m-0">
            <div class="editCreate text-right col-md-5">
                <div class="text-left">
                    <img src="~/Content/assets/images/Books/noImage.png" /><br />
                    <input type="file" name="BookImage" />
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.IsSiteFeature, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.IsSiteFeature)
                    @Html.ValidationMessageFor(model => model.IsSiteFeature, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.UnitsSold, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.UnitsSold, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.UnitsSold, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-7 text-right">
                <div class="row">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.BookStatusID, "Book Status", htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.DropDownList("BookStatusID", null, "[-Choose A Status-]", htmlAttributes: new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(model => model.BookStatusID, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.PublisherID, "Publisher", htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.DropDownList("PublisherID", null, "[-Choose A Publisher-]", htmlAttributes: new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(model => model.PublisherID, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.GenreID, "Genre", htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.DropDownList("GenreID", null, "[-N/A-]", htmlAttributes: new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(model => model.GenreID, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.IsGenreFeature, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.IsGenreFeature)
                    @Html.ValidationMessageFor(model => model.IsGenreFeature, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="text-left col-md-12">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 my-2">

            <div class="col-md-6">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
            </div>
            <div class="col-md-6 text-right">
                <input type="submit" value="Add Book" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
