@model MVC2EFSecured.DATA.EF.Author

@{
    ViewBag.Title = "Delete " + Model.FullName;
}


<h2>Are you sure you want to delete @Model.FullName from the database?</h2>
<div class="formContainer w-25">
    <div class="row">
        <div class="col-md-6 text-right font-weight-bold">
            <p>@Html.DisplayNameFor(model => model.City)</p>
            <p>@Html.DisplayNameFor(model => model.State)</p>
            <p>@Html.DisplayNameFor(model => model.ZipCode)</p>
            <p>@Html.DisplayNameFor(model => model.Country)</p>
        </div>

        <div class="col-md-6">
            <p>@Html.DisplayFor(model => model.City)</p>
            <p>@Html.DisplayFor(model => model.State)</p>
            <p>@Html.DisplayFor(model => model.ZipCode)</p>
            <p>@Html.DisplayFor(model => model.Country)</p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary float-right" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger float-left" })
        </div>
    }
</div>
