@model MVC2EFSecured.DATA.EF.Author

@{
    ViewBag.Title = Model.FullName + " Details";
}

<h2>@ViewBag.Title</h2>

<div class="formContainer w-25">
    <h2 class="h2 text-center">
        @Html.DisplayFor(model => model.FullName)
    </h2>
    <div class="row">
        <div class="col-md-6 text-black-50-right font-weight-bold">
            <p>@Html.DisplayNameFor(model => model.City)</p>
            <p>@Html.DisplayNameFor(model => model.State)</p>
            <p>@Html.DisplayNameFor(model => model.ZipCode)</p>
            <p>@Html.DisplayNameFor(model => model.Country)</p>
        </div>

        <div class="col-md-6">
            <p>@Html.DisplayFor(model => model.City)</p>
            <p>@Html.DisplayFor(model => model.State)</p>
            <p>@Html.DisplayFor(model => model.ZipCode)</p>
            <p>@Html.DisplayFor(model => model.Country)</p>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorID }, new { @class = "btn btn-primary float-right" })
        @Html.ActionLink("Back to Authors", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>
