@model MVC2EFSecured.DATA.EF.Genre

@{
    ViewBag.Title = Model.GenreName + " Details";
}

<h2>@ViewBag.Title</h2>

<div class="formContainer w-25">
    <div class="row">
        <div class="col-md-6 text-right font-weight-bold">
            <p>@Html.DisplayNameFor(model => model.GenreName)</p>
        </div>

        <div>
            <p>@Html.DisplayFor(model => model.GenreName)</p>
        </div>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GenreID }, new { @class = "btn btn-primary float-right" })
        @Html.ActionLink("Back to Genres", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>
