@model IEnumerable<MVC2EFSecured.DATA.EF.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>@ViewBag.Title</h2>
<div id="indexWrapper" style="max-width: 660px">
    <p>
        @Html.ActionLink("Add Genre", "Create", null, new { @class = "btn btn-success" })
    </p>


    <table class="table" style="font-size: 1.25em;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.GenreName, "Details", new { id = item.GenreID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.GenreID }, new { @class = "btn btn-primary fa fa-pencil" })
                    @Html.ActionLink(" ", "Delete", new { id = item.GenreID }, new { @class = "btn btn-danger fa fa-trash" })
                </td>
            </tr>
        }

    </table>
</div>
